{% extends "base.html" %}

{% block buttons %}
{% if user.is_authenticated %}
<button type="button" id="add-review" class="btn m-2">Add Review</button>
{% endif %}
{% endblock %}

{% block content %}
<div class="row">
    {% for review in review_list %}
    <div class="col-12 col-md-4">
        <div class="card my-2 shadow p-2 mb-5 bg-white rounded">
            <div class="card-body">
                <h5 class="card-title text-center"><a href="{% url 'review_detail' review.pk %}">
                        <p>{{ review.book.title }}</p>
                    </a></h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">{{ review.book.authors.all|join:", " }}</h6>
                <h6 class="card-subtitle mb-2 text-body-secondary">{{ review.rating }}</h6>
                <p class="card-text">{{ review.content_preview }}...</p>
            </div>
        </div>
    </div>
    {% endfor %}
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="btn"> &laquo; PREV</a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="btn"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock %}