{% extends "base.html" %}

{% block title %}
{% if is_own_review %}
{{ user.username }}'s BookShelf
{% else %}
The BookShelf
{% endif %}
{% endblock %}

{% block buttons %}
    {% if user.is_authenticated %}
        <button type="button" id="add-review" class="btn m-2">Add Review</button>
    {% endif %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card my-2 shadow p-2 mb-5 bg-white rounded">
            <div class="card-body">
                <h5 class="card-title text-center">{{ review.book.title }}</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">{{ review.book.authors.all|join:", " }}</h6>
                <h6 class="card-subtitle mb-2 text-body-secondary">{{ review.rating }}</h6>
                <p class="card-text">{{ review.content }}...</p>
            </div>
        </div>
    </div>
</div>
{% if user.is_authenticated and is_own_review %}
<div class="row">
    <div class="col-12 col-md-6">
        <button type="button" id="edit-review" data-review-pk="{{ review.pk }}" class="btn m-2">Edit Review</button>
        <button type="button" id="delete-review" data-review-pk="{{ review.pk }}" class="btn m-2">Delete Review</button>
    </div>
</div>
<div class="modal fade" id="delete-modal" tabindex="-1"
  aria-labelledby="delete-modal-label">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
          id="delete-modal-label">Delete Review?</h5>
        <button type="button" class="btn-close"
          data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete your review?
        This action cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn"
          data-bs-dismiss="modal">Close</button>
        <a id="delete-confirm" href="#" class="btn">Delete</a>
      </div>
    </div>
  </div>
</div>

{% endif %}
{% endblock %}