{% extends "base.html" %}
{% load allauth i18n %}
{% block title %}
{% trans "Signup" %}
{% endblock title %}
{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card my-2 shadow p-2 mb-5 bg-white rounded">
            <div class="card-body">
                <h5 class="card-title text-center">{% trans "Sign Up" %}</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">{{ review.book.authors.all|join:", " }}</h6>
                <div class="card-text">{% setvar link %}
                    <a href="{{ login_url }}">
                        {% endsetvar %}
                        {% setvar end_link %}
                    </a>
                    {% endsetvar %}
                    {% element p %}
                    {% blocktranslate %}Already have an account? Then please {{ link }}sign
                    in{{ end_link }}.{% endblocktranslate %}
                    {% endelement %}
                    {% url 'account_signup' as action_url %}
                    {% element form form=form method="post" action=action_url tags="entrance,signup" %}
                    {% slot body %}
                    {% csrf_token %}
                    {% element fields form=form unlabeled=True %}
                    {% endelement %}
                    {{ redirect_field }}
                    {% endslot %}
                    {% slot actions %}
                    {% element button tags="prominent,signup" type="submit" %}
                    {% trans "Sign Up" %}
                    {% endelement %}
                    {% endslot %}
                    {% endelement %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}