
/* CSS Variables */

:root {
    --parchment-color: #dbc8a4;
    --background-color: #9b2626;
    --accent-color: #b8860b;
}

/* Background */

.scrollwork {
    background-color: #f6efe4;
    background-image: 
        url('../images/scroll.svg'), 
        linear-gradient(
            to top,
            #f6efe4, 
            #e8dcc5 50%, 
            var(--parchment-color)
        );
    background-repeat: repeat-y; 
    background-size: contain; 
    background-position: center; 
    height: 100vh; 
}

.journal-center {
    background-color: var(--background-color);
    background-image: linear-gradient(to bottom right, var(--background-color), #972525);;
    border-left: 4px solid var(--accent-color);
    border-right: 4px solid var(--accent-color);
}

/* Header */

header {
    background-color: #6B3E26;
    background-image: repeating-linear-gradient(89deg,
            rgba(255, 255, 255, 0.001),
            rgba(255, 255, 255, 0.001) 2px,
            rgba(0, 0, 0, 0.06) 4px,
            rgba(0, 0, 0, 0.06) 5px);
    border: 4px solid #5E3722;
    min-height: 12vh;
    color: var(--parchment-color);
}

/* Cards */

.card {
     background-image: 
        linear-gradient(
            to top,
            #f6efe4, 
            #e8dcc5 50%, 
            var(--parchment-color)
        );
        border: 1px solid var(--accent-color);
}