
/* CSS Variables */

:root {
    --title-font: 'Caveat', cursive;
    --body-font: 'Crimson Pro', sans-serif;
    --parchment-color: #dbc8a4;
    --background-color: #9b2626;
    --accent-color: #b8860b;
}

/*  Global Styles */

h5 {
    font-size: 2rem;
}

h6 {
    font-size: 1.5rem;
}

/* Background */

.scrollwork {
    background-color: #f6efe4;
    background-image: 
        url('../images/scroll.svg'), 
        url('../images/parchment.svg');
    background-repeat: repeat-y, repeat-y;
    background-size: contain, cover; 
    background-position: center, center; 
    min-height: 100vh; 
}

.journal-center {
    background-color: var(--background-color);
    background-image: linear-gradient(to bottom right, var(--background-color), #972525);;
    border-left: 4px solid var(--accent-color);
    border-right: 4px solid var(--accent-color);
}

/* Navbar */

.custom-navbar {
    background-color: #452819;
    background-image: url('../images/woodpattern1.svg');
    border: 4px solid #452819;
    min-height: 12vh;
    font-family: 'Macondo', serif;
}

.navbar-brand {
    color: var(--parchment-color);
    font-size: 2rem;
}

.nav-link {
    color: var(--parchment-color);
    font-size: 1.5rem;
}

/* Cards */

.card {
     background-image: 
        linear-gradient(
            to top,
            #f6efe4, 
            #e8dcc5 50%, 
            var(--parchment-color)
        );
        border: 1px solid var(--accent-color);
}

.card-title, .card-subtitle {
    font-family: var(--title-font);
}

.card-text {
    font-family: 'Crimson Pro', sans-serif;
}

/* Login */

/* allauth template has a link to an email based password reset 
- app doesn't have this functionality so just hide the link rather than make a custom view*/
.helptext {
    visibility: hidden;
}

/* Buttons */

.btn {
    background-color: var(--accent-color);
    font-family: var(--title-font);
    font-size: 1.5rem;
}

.btn:focus {
    background-color: #c6971a;
}

.btn:hover {
    background-color: #c6971a;
}

/* For allauth template buttons */
button[type="submit"] {
    background-color: var(--accent-color);
    font-family: var(--title-font);
    font-size: 1.5rem;
}

button[type="submit"]:focus {
    background-color: #c6971a;
}

button[type="submit"]:hover {
    background-color: #c6971a;
}

/* Alerts */

.alert-warning, .alert-error {
    background-color: #5D1717 ;
    color: var(--parchment-color);
    border: 1px solid var(--accent-color);
}

.alert-success {
    background-color: var(--parchment-color);
}

